In [2]:
import pandas as pd

vine_table_load= "Resources/vine_table.csv"

vine_table_df = pd.read_csv(vine_table_load)

In [4]:
# Total votes greater than 20
total_votes_df = vine_table_df[(vine_table_df["total_votes"] >= 20)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y

In [5]:
# Number of helpful_votes divided by total_votes greater than 50%
helpful_votes_df = total_votes_df[((total_votes_df["helpful_votes"]) / (total_votes_df["total_votes"])) >= .5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y

In [6]:
# Reviews part of the vine program
vine_paid_df = helpful_votes_df[(helpful_votes_df["vine"] == "Y")]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
38366,RG70K1HMY4LXX,4.0,37.0,44.0,Y,N
145857,R1DHGTNXDXJ0GB,5.0,78.0,93.0,Y,N
150655,R3B5S3OSA8N6AO,5.0,38.0,43.0,Y,N
173012,R29X0YBS0SBIUP,5.0,56.0,74.0,Y,N
223093,R1ZEDMCU6NYC8Q,3.0,26.0,27.0,Y,N

In [8]:
# Reviews not part of the vine program
vine_unpaid_df = helpful_votes_df[(helpful_votes_df["vine"] == "N")]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y

In [11]:
# Number of reviews part of the vine program
vine_reviews_count_paid = vine_paid_df["review_id"].count()
vine_reviews_count_paid

497

In [13]:
# Number of reviews not part of the vine program
vine_reviews_count_unpaid = vine_unpaid_df["review_id"].count()
vine_reviews_count_unpaid

120863

In [17]:
# Five star reviews 
five_star_reviews_vine = total_votes_df[(total_votes_df["star_rating"] == 5)]
five_star_reviews_count = five_star_reviews_vine["review_id"].count()
five_star_reviews_count

76294

In [18]:
# Five star reviews in vine
five_star_reviews_paid = vine_paid_df[(vine_paid_df["star_rating"] == 5)]
vine_five_star_paid_count = five_star_reviews_paid["review_id"].count()
vine_five_star_paid_count

220

In [19]:
# Five star reviews not in vine
five_star_reviews_unpaid = vine_unpaid_df[(vine_unpaid_df["star_rating"] == 5)]
vine_five_star_unpaid_count = five_star_reviews_unpaid["review_id"].count()
vine_five_star_unpaid_count

74470

In [20]:
# Percentage of five star reviews in vine
percentage_vine_paid = vine_five_star_paid_count / vine_reviews_count_paid
percentage_vine_paid

0.4426559356136821

In [21]:
# Percentage of five star reviews not in vine
percentage_vine_unpaid = vine_five_star_unpaid_count / vine_reviews_count_unpaid
percentage_vine_unpaid

0.6161521722942506